body {
  background-image: linear-gradient(
    180deg,
    rgb(57, 192, 185) 1%,
    rgb(47, 151, 146) 4%,
    rgb(20, 108, 180) 8%,
    rgb(13, 61, 151) 10%,
    rgb(11, 24, 58) 14%,
    rgb(12, 4, 34) 18%,
    rgb(5, 1, 1) 50%,
    rgb(31, 6, 6) 83%,
    rgb(48, 11, 11) 87%,
    rgb(59, 7, 7) 91%,
    rgb(107, 8, 8) 93%,
    rgb(194, 11, 11) 97%,
    rgb(204, 11, 11) 99%
  ) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    180deg,
    rgb(20, 4, 4) 20%,
    rgb(31, 6, 6) 35%,
    rgb(48, 11, 11) 50%,
    rgb(59, 7, 7) 55%,
    rgb(107, 8, 8) 65%,
    rgb(194, 11, 11) 79%,
    rgb(204, 11, 11) 88%,
    rgb(255, 0, 0) 98%
    /* rgb(100, 100, 100) 0%,
    rgb(27, 27, 27) 69%,
    rgb(19, 24, 24) 89%  */
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          90deg,
          rgb(67, 235, 226) 1%,
          rgb(37, 233, 168) 3%,
          rgb(20, 108, 180) 8%,
          rgb(14, 68, 168) 10%,
          rgb(6, 25, 75) 14%,
          rgb(12, 4, 34) 18%,
          rgb(5, 1, 1) 50%,
          rgb(44, 5, 5) 83%,
          rgb(112, 8, 8) 86%,
          rgb(194, 11, 11) 91%,
          rgb(204, 11, 11) 95%,
          rgb(255, 0, 0) 100%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*//*end home page styles*/

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a {
  background-color: #ff9980;
  border-color: #ff471a;
  color: #fff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  color: white;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: grey;

  border-color: white;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}